services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus.yml
    ports:
      - "9092:9092"
    volumes:
      - ./data/prometheus.yml.yml:/etc/prometheus.yml/prometheus.yml.yml
    depends_on:
      - pushgateway

  pushgateway:
    image: prom/pushgateway
    container_name: pushgateway
    ports:
      - "9093:9093"