environmentKinds:
  - tenant
  - onprem
  - legacy
values:
  apiserverIP:
    displayName: Kubernetes apiserver IP
    computed:
      template: "{{ .Env.apiserver_endpoint }}"
  schedule:
    displayName: Cronjob schedule
    config:
      type: string
  pushgateway.url:
    displayName: Pushgateway URL
    config:
      type: string
    computed:
      template: "http://prometheus-pushgateway.nais-system:9091"
  pushgateway.enabled:
    displayName: Enable Pushgateway
    config:
      type: bool
  logLevel:
    displayName: Log level
    config:
      type: string
