image:
  repository: europe-north1-docker.pkg.dev/nais-io/nais/images
  name: euthanaisa

pushgateway:
  enabled: false
  endpoint: ""

apiserverIP: ""

schedule: "*/2 * * * *"

alerts: true

logLevel: debug
logFormat: json

resources:
  - kind: Deployment
    resource: deployments
    group: apps
    version: v1
    ownedBy:
      - Application
  - kind: CronJob
    resource: cronjobs
    group: batch
    version: v1
    ownedBy:
      - Naisjob
  - kind: Job
    resource: jobs
    group: batch
    version: v1
    ownedBy:
      - Naisjob
  - kind: Application
    resource: applications
    group: nais.io
    version: v1alpha1
  - kind: Naisjob
    resource: naisjobs
    group: nais.io
    version: v1
  - kind: Role
    resource: roles
    group: rbac.authorization.k8s.io
    version: v1
  - kind: RoleBinding
    resource: rolebindings
    group: rbac.authorization.k8s.io
    version: v1
