name: Build and push image and chart
on:
  pull_request:
  push:
    branches:
      - main
env:
  IMAGE_REPOSITORY: oci://europe-north1-docker.pkg.dev/nais-io/nais
  NAME: euthanaisa
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  checks:
    strategy:
      fail-fast: false
      matrix:
        mise-task:
          - check:deadcode
          - check:gosec
          - check:govet
          - check:govulncheck
          - check:helm-lint
          - check:ratchet
          - check:staticcheck
          - ci:fmt
          - test
    name: |
      Run mise task: ${{ matrix.mise-task }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # ratchet:jdx/mise-action@v3
      - run: mise run ${{ matrix.mise-task }}
  build-and-push:
    if: github.ref == 'refs/heads/main'
    needs:
      - checks
    outputs:
      version: ${{ steps.build-push-sign.outputs.version }}
    permissions:
      contents: "read"
      id-token: "write"
    name: Build and push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # ratchet:jdx/mise-action@v3
      - id: go-version
        run: echo "version=$(mise current go)" >> $GITHUB_OUTPUT
      - uses: nais/platform-build-push-sign@8be8359cd90915318ee8ab5fbc8337d04937ae70 # ratchet:nais/platform-build-push-sign@main
        id: build-push-sign
        with:
          name: ${{ env.NAME }}
          build_args: |
            GO_VERSION=${{ steps.go-version.outputs.version }}
          google_service_account: gh-${{ env.NAME }}
          workload_identity_provider: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
          push: true
      - run: |-
          sed -i "s/^version: .*/version: ${{ steps.build-push-sign.outputs.version }}/g" charts/Chart.yaml
          cat charts/Chart.yaml
          helm package charts
      - run: helm push ${{ env.NAME }}*.tgz ${{ env.IMAGE_REPOSITORY }}
  rollout:
    if: github.ref == 'refs/heads/main'
    needs:
      - build-and-push
    runs-on: fasit-deploy
    permissions:
      id-token: write
    steps:
      - uses: nais/fasit-deploy@8727ed1c7a5a465e837873e6016a9a692a6b874a # ratchet:nais/fasit-deploy@v2
        with:
          chart: ${{ env.IMAGE_REPOSITORY }}/${{ env.NAME }}
          version: ${{ needs.build-and-push.outputs.version }}
